.button{
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: $white;
    background-color: $main;
    background-image: linear-gradient(to top right, rgb(2, 32, 60), #527393);
    border: 1px solid $main;
    outline: none;

    &:hover{
        background-image: linear-gradient(to top right, rgb(2, 32, 60),#3b6388);
    }
    &[disabled]{
        background-image: none;
        background-color: $weakgrey;
        border: 1px solid $weakgrey;
        cursor: default;
    }
    i{
        margin-right: 5px;
        transform: scale(1.2)
    }
    &--cancel{
        background-image:linear-gradient(to top right, $cancelHover, $cancel);
        background-color:$cancel;
        border-color: $cancel;
        &:hover:enabled{
            background-image:none;
            background-color: $cancelHover;
            border-color: $cancelHover;

        }
    }
}

