@import "./variables";


h3{
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Jura', 'Helvetica', 'Arial', sans-serif;
}
form{
    padding: 20px;  
    .input_text__pair{
        display: flex;
        width: 70%;
        margin: 0 auto 0 auto;
        justify-content: space-between;
        .input_text{
            width: 45%;
            margin: 0;
        }
    }
    .input_text{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto 20px auto;
        transition: all 500ms ease-in-out;

        &.hidden{
            opacity: 0;
            height: 0;
        }
        &.shown{
            opacity: 1;
            height: 150px;
            margin-top:20px;
        }
        .add_tags{
            position: absolute;
            right: 5px;          
            top: calc(53%);
            cursor: pointer;
            color: #43607b;
            transform: scale(1.3);
            &:hover{
                color: $main;
                transform: rotate(90deg) scale(1.3);
                transition: all 300ms ease-in-out;

            }
        }
        label{
            font-family: 'Jura', 'Helvetica', 'Arial', sans-serif;
            margin-bottom: 2px;
            padding-left: 5px;
        }
        input{
            display: block;
            line-height: 30px;
            height: 30px;
            // padding: 0 10px;
            text-indent: 8px;

            margin: 0;
            width: 100%;
            font-size: 15px;
            outline: none;
            border: 1px solid $weakgrey;
            border-bottom-width: 3px;
            border-radius: 5px;
        }
        textarea{
            display: block;
             height: 100px;
            padding: 5px 10px;
            margin: 0 0 20px;
            width: 100%;
            font-size: 15px;
            outline: none;
            border: 1px solid $weakgrey;
            border-bottom-width: 3px;
            border-radius: 5px;
            resize: none;    
            position: relative;        
        }

        .hide_description{
            position: absolute;
            right: -40px;          
            top: 17%;
            padding: 1px 2.5px 0 2.5px;
            border-radius: 2px;
            cursor: pointer;
            color: $white;
            background-color: rgb(249, 176, 176);
            transform: scale(1.3);
            &:hover{
                background-color: rgb(245, 95, 95);


            }
        }
    }
    .buttons_container{
        width: 70%;
        margin: 40px auto;
        text-align: end;
        display: flex;
        justify-content: space-between;
        button{
            padding: 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            color: $white;
            background-color: $main;
            background-image: linear-gradient(to top right, rgb(2, 32, 60), #527393);
            border: 1px solid $main;
            outline: none;

            &:hover{
                background-image: linear-gradient(to top right, rgb(2, 32, 60),#3b6388);
            }
            &[disabled]{
                background-image: none;
                background-color: $weakgrey;
                border: 1px solid $weakgrey;
                cursor: default;
            }
            i{
                margin-right: 5px;
                transform: scale(1.2)
            }
            &[type=submit]{
                background-color: $main;
            }
        }
        
    }

}